@charset "utf-8";
/* CSS Document */

.t3
{
	color:#000;
	font-family: "Comic Sans MS";
	background-color:#CCC;
}
.t3 td a
{
	
	display: block;
	color:#000;
	text-decoration: none;	
}
.t3 td a:hover
{
	
	color:#fff;
	background-color:#0C0;
	
}
.b1
{
	/*display:block;*/
	background-image:url(../image/heading2.png);
	/*background-color:#333;*/
	background-repeat:repeat-x;
	font-family: "Comic Sans MS";
	color: #FFF;

}
.b2
{
	margin:10px;
	padding: 10px;